.radio-graphic {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 100%;
  margin-bottom: 30px;
}
.radio-btn-graphic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 10px;
  margin-bottom: -15px;
}
.radio-btn-graphic input {
  width: 30%;
}
.radio-btn-graphic span {
  width: 50%;
}

.textarea-graphic {
  width: 100%;
  font-size: 10px;
}
.dimension {
  display: flex;
  justify-content: center;
  align-items: center;
}
