.hero-first-col,
.hero-first-cols {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero-headings {
  width: 400px;
  margin-left: 40px;
}
.hero-headings p {
  margin-top: 20px;
}
.hero-headings h1 {
  margin-left: 20px;
}
.hero-heading {
  width: 320px;
}
.hero-headingour {
  width: 320px;
}
.hero-headingour h1 {
  margin-left: 20px;
}
.hero-headingour p {
  margin-top: 20px;
}
.hero-colimg {
  margin-top: 50px;
  width: 400px;
  margin-left: 50px;
}
.hero-colimgs {
  margin-top: 100px;
  width: 400px;
  margin-right: 30px;
}
.hero-colimgs img {
  width: 400px;
}
.hero-colimg img {
  width: 400px;
}
.other-body {
  margin-top: 150px;
}
.elementor-button {
  color: white;
  text-decoration: none;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 140px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: #f1576b;
}

/* WhatsAppButton.css */
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 55px;
  height: 55px;
  /* opacity: 0.9; */
  /* WhatsApp green color */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); */
}

.whatsapp-button img {
  width: 80%;
  height: auto;
  border-radius: 50%;
}
.build-points li {
  font-size: 18px;
  margin-top: 10px;
}
@media (max-width: 768px) {
  .hero-first-col {
    flex-direction: column;
  }
  .hero-first-cols {
    flex-direction: column-reverse;
  }
  .hero-colimgs img {
    width: 300px;
  }
  .hero-colimg img {
    width: 300px;
  }
  .whatsapp-button {
    position: fixed;
    right: 40px;
  }
}
